@{
    Layout = null;
}
<html lang="en">
<head>
    <base href="/">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Slack ERP</title>
    <!-- Bootstrap -->
    <link href="~/Scripts/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link href="../../Content/css/font-awesome.min.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="../../Content/css/custom.min.css" rel="stylesheet">
    <link href="../../Content/css/erp-custom.css" rel="stylesheet" />
    <link href="../../Content/Site.css" rel="stylesheet">
    <link href="~/Content/js/nprogress/nprogress.css" rel="stylesheet" />
    @*Polyfill(s) for older browsers*@
    <script src="node_modules/jspdf/dist/jspdf.min.js"></script>
    <script src="node_modules/jspdf-autotable/dist/jspdf.plugin.autotable.umd.js"></script>
    <script src="node_modules/core-js/client/shim.min.js"></script>
    <script src="node_modules/zone.js/dist/zone.js"></script>
    <script src="node_modules/reflect-metadata/Reflect.js"></script>
    <script src="node_modules/systemjs/dist/system.src.js"></script>
    <script src="systemjs.config.js"></script>
    <!-- Theme Scripts -->
    @Scripts.Render("~/bundles/themejs")

    @if (@ViewBag.userEmail == "")
    {
        <script>
            System.import('app').catch(function (err) { console.error(err); });
            var emailHashCode = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(@ViewBag.emailHashCode));
        </script>
    }
</head>
@if (@ViewBag.userEmail != "")
{
    <body class="base-page body-grey">
        <div>
            <form asp-controller="Home" asp-action="LogOff">
                <div class="after-login-nav clearfix">
                    @Html.ActionLink("Logout", "LogOff")
                </div>
                <div class="clearfix"></div>
            </form>
        </div>
        <div class="text-center" id="content">
            <p>Please add user whose email is <span>"@ViewBag.userEmail"</span>  to slack before proceeding to view reports or use app functionalities in slack.</p>
        </div>
    </body>
}
else
{
    <body class="nav-md">
        <my-app>
            <div id="nprogress"><div class="bar" role="bar" style="transform: translate3d(-0.6%, 0px, 0px); transition: all 200ms ease;"><div class="peg"></div></div><div class="spinner" role="spinner"><div class="spinner-icon"></div></div></div>
        </my-app>
        <!-- jQuery -->
        <script src="~/Scripts/jquery/dist/jquery.min.js"></script>
        <!-- Bootstrap -->
        <script src="~/Scripts/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="~/Content/js/nprogress/nprogress.js"></script>
        <!-- Custom Theme Scripts -->
        <script src="../../Content/js/custom.js"></script>
    </body>
}
</html>
